/* Your users should be able to: 

- See hover and focus states for all interactive elements on the page */

:root {
  --clr-background: hsl(0, 0%, 8%);
  --clr-wrapper: hsl(0, 0%, 12%);
  --clr-buttons: hsl(0, 0%, 20%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-green: hsl(75, 94%, 57%);

  --ff: "Inter", sans-serif;

  --fs-normal: 0.875rem;

  --fw-normal: 400;
  --fw-bold: 600;
  --fw-bolder: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-family: var(--ff);
  font-size: var(--fs-normal);
  color: var(--clr-white);
}

body {
  height: 100vh;
  background-color: var(--clr-background);
}

main {
  height: 97vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: var(--clr-wrapper);
  padding: 25px;
  /* max-width: 20.3125rem; */
  width: 325px;
  border-radius: 8px;
}

img {
  display: block;
  margin-inline: auto;
  max-width: 90px;
  border-radius: 45px;
}

.text {
  padding-block-start: 32px;
  text-align: center;
}

.text h1 {
  font-weight: normal;
  font-size: x-large;
}

.text h2 {
  font-weight: var(--fw-bold);
  font-size: small;
  padding-block-start: 0.5rem;
  color: var(--clr-green);
}

.text p {
  padding-block: 24px;
  font-weight: 300;
  font-size: small;
  height: 68px;
}

.interact {
  --gap: 16px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  background-color: var(--clr-buttons);
  font-weight: 500;
  padding-block: 16px;
  border-radius: 8px;
  height: 45px;
}

button:hover {
  background-color: var(--clr-green);
  color: black;
}
